<html>
    <head>
        <title><%=tital%></title>
    </head>
    <body>
        <div>
            <ul>
                <% for(let i=1 ;i<=10;i++){ %>
                  <li>
                       <p> i</p>
                  </li>
             <%}%>
            </ul>
          </div>
        <% if(true){ %>
           <p>this is true</p>
        <%}else{%>
            <p>this is false</p>
        <%}%>
    </body>
</html>